wsdl1.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="http://tempuri.org"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsa10="http://www.w3.org/2005/08/addressing"
	xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy"
	xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://tempuri.org"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://tempuri.org/Imports">
			<xsd:import schemaLocation="http://dcax12iisuat.dynamics.local/MicrosoftDynamicsAXAif60/EDIServiceGroup/xppservice.svc?xsd=xsd0" namespace="http://tempuri.org"/>
			<xsd:import schemaLocation="http://dcax12iisuat.dynamics.local/MicrosoftDynamicsAXAif60/EDIServiceGroup/xppservice.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/dynamics/2010/01/datacontracts"/>
			<xsd:import schemaLocation="http://dcax12iisuat.dynamics.local/MicrosoftDynamicsAXAif60/EDIServiceGroup/xppservice.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault"/>
			<xsd:import schemaLocation="http://dcax12iisuat.dynamics.local/MicrosoftDynamicsAXAif60/EDIServiceGroup/xppservice.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
			<xsd:import schemaLocation="http://dcax12iisuat.dynamics.local/MicrosoftDynamicsAXAif60/EDIServiceGroup/xppservice.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
			<xsd:import schemaLocation="http://dcax12iisuat.dynamics.local/MicrosoftDynamicsAXAif60/EDIServiceGroup/xppservice.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.AX.Framework.Services"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="EDIServiceOrderXcbl35Request">
		<wsdl:part name="parameters" element="tns:EDIServiceOrderXcbl35Request"/>
	</wsdl:message>
	<wsdl:message name="EDIServiceOrderXcbl35Request_Headers">
		<wsdl:part name="context" element="q1:CallContext"
			xmlns:q1="http://schemas.microsoft.com/dynamics/2010/01/datacontracts"/>
		</wsdl:message>
		<wsdl:message name="EDIServiceOrderXcbl35Response">
			<wsdl:part name="parameters" element="tns:EDIServiceOrderXcbl35Response"/>
		</wsdl:message>
		<wsdl:message name="EDIService_orderXcbl35_AifFaultFault_FaultMessage">
			<wsdl:part name="detail" element="q2:AifFault"
				xmlns:q2="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault"/>
			</wsdl:message>
			<wsdl:message name="EDIServiceHelloWorldRequest">
				<wsdl:part name="parameters" element="tns:EDIServiceHelloWorldRequest"/>
			</wsdl:message>
			<wsdl:message name="EDIServiceHelloWorldRequest_Headers">
				<wsdl:part name="context" element="q3:CallContext"
					xmlns:q3="http://schemas.microsoft.com/dynamics/2010/01/datacontracts"/>
				</wsdl:message>
				<wsdl:message name="EDIServiceHelloWorldResponse">
					<wsdl:part name="parameters" element="tns:EDIServiceHelloWorldResponse"/>
				</wsdl:message>
				<wsdl:message name="EDIService_helloWorld_AifFaultFault_FaultMessage">
					<wsdl:part name="detail" element="q4:AifFault"
						xmlns:q4="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault"/>
					</wsdl:message>
					<wsdl:portType name="EDIService">
						<wsdl:operation name="orderXcbl35">
							<wsdl:input wsaw:Action="http://tempuri.org/EDIService/orderXcbl35" name="EDIServiceOrderXcbl35Request" message="tns:EDIServiceOrderXcbl35Request"/>
							<wsdl:output wsaw:Action="http://tempuri.org/EDIService/orderXcbl35Response" name="EDIServiceOrderXcbl35Response" message="tns:EDIServiceOrderXcbl35Response"/>
							<wsdl:fault wsaw:Action="http://tempuri.org/EDIService/orderXcbl35AifFaultFault" name="AifFaultFault" message="tns:EDIService_orderXcbl35_AifFaultFault_FaultMessage"/>
						</wsdl:operation>
						<wsdl:operation name="helloWorld">
							<wsdl:input wsaw:Action="http://tempuri.org/EDIService/helloWorld" name="EDIServiceHelloWorldRequest" message="tns:EDIServiceHelloWorldRequest"/>
							<wsdl:output wsaw:Action="http://tempuri.org/EDIService/helloWorldResponse" name="EDIServiceHelloWorldResponse" message="tns:EDIServiceHelloWorldResponse"/>
							<wsdl:fault wsaw:Action="http://tempuri.org/EDIService/helloWorldAifFaultFault" name="AifFaultFault" message="tns:EDIService_helloWorld_AifFaultFault_FaultMessage"/>
						</wsdl:operation>
					</wsdl:portType>
				</wsdl:definitions>