xsd0.xml

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://tempuri.org">
	<xs:element name="EDIServiceOrderXcbl35Request">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="_xmlDoumentStr" nillable="true" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="EDIServiceOrderXcbl35Response">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="response" nillable="true" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="EDIServiceHelloWorldRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="_inboundXml" nillable="true" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="EDIServiceHelloWorldResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="response" nillable="true" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>