xsd2.xml

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/dynamics/2010/01/datacontracts"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://schemas.microsoft.com/dynamics/2010/01/datacontracts">
	<xs:import schemaLocation="http://dcax12iisuat.dynamics.local/MicrosoftDynamicsAXAif60/EDIServiceGroup/xppservice.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
	<xs:complexType name="CallContext">
		<xs:sequence>
			<xs:element minOccurs="0" name="Company" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="Language" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="LogonAsUser" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="MessageId" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="PartitionKey" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="PropertyBag" nillable="true" type="q1:ArrayOfKeyValueOfstringstring"
				xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
			</xs:sequence>
		</xs:complexType>
		<xs:element name="CallContext" nillable="true" type="tns:CallContext"/>
	</xs:schema>